<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<link href="../../css/creation-examen.css" rel="stylesheet"
	th:href="@{/css/creation-examen.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link href="../../css/aside.css" rel="stylesheet"
	th:href="@{/css/aside.css}">
<link href="/fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript"
	src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>

<script
	src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.js"></script>
<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/Buttons-1.7.0/css/buttons.dataTables.css}" />

<script type="text/javascript"
	th:href="@{/Buttons-1.7.0/js/buttons.jqueryui.min.js}"></script>
<script type="text/javascript"
	th:href="@{/Buttons-1.7.0/js/buttons.print.min.js}"></script>
<script type="text/javascript"
	th:href="@{/Buttons-1.7.0/js/dataTables.buttons.min.js}"></script>

<script
	src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>
<title>Création Examen</title>
</head>

<body>
	<div th:replace="/shared/header :: header"></div>
	<div th:replace="/shared/aside :: aside"></div>
	<div class="principal d-flex flex-column justify-content-around">
		<div class="d-flex flex-row justify-content-center mb-4 titre">
			<div
				class="card connexion w-25 d-flex flex-column justify-content-between pt-1 pl-3 pr-4 pb-4 mb-4">
				<small class="row d-flex flex-row justify-content-start promotion">
					<i
					class="fas fa-graduation-cap align-self-center ml-1 font-weight-bold"></i>&nbsp;
					<div class="align-self-center pt-1">EXAMEN</div>
				</small>
				<div class="row align-self-center ">CREATION EXAMEN</div>
			</div>
		</div>
		<div
			class="d-flex flex-row justify-content-center mt-4 align-self-center w-75">
			<div class="card d-flex flex-row justify-content-center  p-4 main">
				<form method="post" th:action="@{/protected/creation-examen-sub}"
					th:object="${examen}">
					<div class="d-flex flex-column justify-content-center">
						<div class="row">
							<div class="col-3 d-flex flex-row justify-content-center">
								Titre</div>
							<div
								class="col-8 d-flex flex-row justify-content-center px-0 mb20px">
								<textarea id="rep1" name="rep1" rows="1" cols="50"
									th:field="*{titre}"></textarea>
							</div>
						</div>
						<div class="row mb-4 w-100 mb20px">
							<div
								class="col-3 align-self-center d-flex flex-row justify-content-center">
								Sujet :</div>
							<div
								class="col-9 align-self-center d-flex flex-row px-0 justify-content-center">
								<select name="sujet" th:field="*{sujet}">
									<option value="">-- Choisir un sujet --</option>
									<option th:each="sujet : ${sujets}" th:value="${sujet.idSujet}"
										th:text="${sujet.nom}">
								</select>
							</div>
						</div>
						<div class="row mb-4 w-100 mb20px">

							<div
								class="col-3 align-self-center d-flex flex-row justify-content-center">
								Promotion :</div>

							<div
								class="col-9 align-self-center d-flex flex-row px-0 justify-content-center">
								<select name="promotion" th:field="*{promotion}">
									<option value="">-- Choisir une promotion --</option>
									<option th:each="promo : ${promotions}"
										th:value="${promo.idPromotion}" th:text="${promo.nom}">
								</select>
							</div>
						</div>
						<div class="row mb-4 w-100">
							<div
								class="col-3 align-self-center d-flex flex-row justify-content-center">
								Date et heure</div>
							<div class="col-9 d-flex flex-row justify-content-center px-0">
								<input type="datetime-local" name="date"
									th:field="*{dateExamen}" />
							</div>
						</div>
						<div class="row mb-4 w-100">
							<div
								class="col-3 align-self-center d-flex flex-row justify-content-center">
								Durée</div>
							<div class="col-9 d-flex flex-row justify-content-center px-0 ">
								<input type="number" name="duree" th:field="*{dureeExamen}" /><span>&nbsp;minutes.</span>
							</div>
						</div>


						<div class="row w-100 mb20px">
							<div class="col-2 d-flex flex-row justify-content-center">
								<button class="btn annulerButton" onclick="location.href='LINK'">Retour</button>
							</div>
							<div class="col-10 d-flex flex-row justify-content-center btns">
								<input class="btn validerButton" type="submit" value="Création">
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var expanded = false;

		function showCheckboxes() {
			var checkboxes = document.getElementById("checkboxes");
			if (!expanded) {
				checkboxes.style.display = "block";
				expanded = true;
			} else {
				checkboxes.style.display = "none";
				expanded = false;
			}
		}
	</script>
</body>

</html>