<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<link href="../../css/header.css" rel="stylesheet"
	th:href="@{/css/header.css}">
<link href="../../inscription-final.css"
	th:href="@{/css/inscription-final.css}" rel="stylesheet">
<link href="/fontawesome/css/all.css" rel="stylesheet">

<title>Inscription</title>

</head>

<body>
	<script>
		$('.datepicker').datepicker();
	</script>
	<div th:replace="/shared/header :: header"></div>

	<div class="principal d-flex flex-column justify-content-around">
		<div class="d-flex flex-row justify-content-center mb-4 titre">
			<div th:if="${isModification != true}"
				class="card connexion w-25 d-flex flex-column justify-content-between pt-1 pl-3 pr-4 pb-2 mb-4 ">
				<small class="row d-flex flex-row justify-content-start promotion"><i
					class="fas fa-address-card align-self-center ml-1 font-weight-bold"></i>&nbsp;
					<div class="align-self-center pt-1">INSCRIPTION</div></small>
				<div class="row align-self-center">INSCRIPTION - FINAL</div>
			</div>
			<div th:if="${isModification == true}"
				class="card connexion w-25 d-flex flex-column justify-content-between pt-1 pl-3 pr-4 pb-2 mb-4 ">
				<small class="row d-flex flex-row justify-content-start promotion"><i
					class="fas fa-pen-square align-self-center ml-1 font-weight-bold"></i>&nbsp;
					<div class="align-self-center pt-1">MODIFACTION</div></small>
				<div class="text-center pr-0 pl-0">MODIFICATION - PROFIL</div>
			</div>
		</div>

		<div class="d-flex flex-row justify-content-center mt-4">
			<div
				class="card d-flex flex-row justify-content-center w-75 p-4 main">
				<form class="w-75" th:object="${apprenantDtoFinal}"
					th:action="@{/public/inscription-final-apprenant}" method="POST"
					enctype="multipart/form-data">

					<input th:field="*{idApprenantDto}" id="idApprenantDto"
						class="d-none" /> <input th:field="*{idPromotion}"
						id="idPromotion" class="d-none" />
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="nom" class="text-dark font-weight-bold">Nom</label> <input
								type="text" class="form-control" id="nom" th:field="*{nom}"
								placeholder="Ex : Safouane" required>
						</div>
						<div class="form-group col-md-6">
							<label for="prenom" class="text-dark font-weight-bold">Prénom</label>
							<input type="text" class="form-control" id="prenom"
								th:field="*{prenom}" placeholder="Ex : Pierre" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="mail" class="text-dark font-weight-bold">Mail</label>
							<input type="email" class="form-control" id="mail"
								th:field="*{mail}" placeholder="Adresse mail"
								readonly="readonly">
						</div>
						<div class="form-group col-md-6">
							<label for="password" class="text-dark font-weight-bold">Mot
								de passe</label> <input type="password" class="form-control"
								th:field="*{password}" id="password" placeholder="Password"
								required>
						</div>
					</div>
					<div class="form-row mb-0">
						<div class="form-group col-md-6 mb-0">
							<label for="reponse" class="text-dark font-weight-bold">Date
								de naissance</label> <input type="date" id="dateNaissance"
								th:field="*{dateNaissance}" class="form-control text-left mr-2">

						</div>
						<div class="form-group col-md-6 mb-0">
							<label for="question" class="text-dark font-weight-bold">Question
								Secrète</label> <input type="text" class="form-control" id="reponse"
								th:field="*{question}" placeholder="Qui est mon père?" required>
						</div>
					</div>
					<div class="form-row mt-3">

						<div class="form-group col-md-6">
							<label for="exampleFormControlSelect2"
								class="text-dark font-weight-bold">Selectionner une
								photo de profil </label> <input type="file" name="photo" value="photo"
								id="photo" th:field="*{photo}" />
						</div>
						<div class="form-group col-md-6">
							<label for="reponseSecrete" class="text-dark font-weight-bold">Réponse
								secrète</label>
							<textarea class="form-control" id="reponseSecrete" rows="3"
								placeholder="ex : Dark Vador" th:field="*{reponse}" required></textarea>
						</div>
					</div>

					<div class="d-flex flex-row justify-content-end">
						<a type="submit" href="/protected/home"
							th:if="${isModification == true}" class="btn annulerButton mr-2">ANNULER</a>
						<a type="submit" href="/public/connexion" th:if="${isModification != true}"
							class="btn annulerButton mr-2">ANNULER</a>
						<button type="submit" class="btn validerButton">VALIDER</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>